
@model IEnumerable<MessageBox.Models.TopicModel>
@using Microsoft.AspNetCore;
@using Microsoft.EntityFrameworkCore;
@using MessageBox.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{  ViewData["Title"] = "Topics";  }

<h1>@ViewData["Title"]</h1>

@{
  var IsSignedIn = SignInManager.IsSignedIn(User);
  var IsAdmin = IsSignedIn && User.Identity.Name.Contains("admin");
}

<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      if (IsAdmin || !item.AdminsOnly)
      {
        <tr>
          <td>
            <a asp-controller="ViewForum" asp-action="" asp-route-id="@item.Id">@item.TopicName</a>, @item.Messages.Count() posts
          </td>
        </tr>
      }
    }
  </tbody>
</table>


@if (IsAdmin)
{
  <div>
    <a asp-action="Create">Create new forum</a>
  </div>
}
