@model IEnumerable<MessageBox.Models.TopicModel>
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore;
@using Microsoft.EntityFrameworkCore;
@using MessageBox.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

  soijfsoidjfsdi
<table class="table">
  <thead>
    <tr>
      <th>
        Forum topics
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @{
      var ctx = ViewBag.Context as ApplicationDbContext;
      var query = ctx!.Topics.Include("Messages");
      foreach (var item in query)
      {
        <tr>
          <td>
          <a asp-controller="ViewForum" asp-action="" asp-route-id="@item.Id">@item.TopicName</a>, @item.Messages.Count() posts
        </td>
        </tr>
      }
    }
  </tbody>
</table>

@* Fixa så att enbart admins ser *@
@if (SignInManager.IsSignedIn(User))
{
  <p>
    <a asp-action="Create">Create New</a>
  </p>
}
