@model IEnumerable<MessageBox.Models.TopicModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@* Fixa så att enbart admins ser *@
@if (SignInManager.IsSignedIn(User))
{
  <p>
    <a asp-action="Create">Create New</a>
  </p>
}

<table class="table">
  <thead>
    <tr>
      <th>
        Forum topics
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          <a asp-action="ViewForum" asp-route-id="@item.Id">@item.TopicName</a>, @Model.Count() posts
        </td>
      </tr>
    }
  </tbody>
</table>
