@{
  ViewData["Title"] = "About MessageBox";
}

<div class="text-center">
  <h1 class="display-4">Welcome to MessageBox</h1>
  @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

  @* uppdatera med riktig data*@
  <p>3 users are currently online: Admin, user2, user3</p>
  <p>There are 45 messages in 8 forums</p>
  <p>Most recent post: <a href="./index.html">Selling a car</a> in <a href="./index.html">Cars</a></p>
</div>
