
@using Microsoft.EntityFrameworkCore;


@{
  ViewData["Title"] = "About MessageBox";

  var ctx = ViewBag.Context as ApplicationDbContext;

  var TopicCount = ctx!.Topics.Count();
  var MsgCount = ctx!.Messages.Count();

  //  Most recent post, if there is one
  MessageModel? Post = null;
  if (MsgCount > 0) Post = ctx!.Messages.Include(m => m.ParentTopic).OrderByDescending(m => m.Date).First();
}

<div class="text-center">

  <h1 class="display-5">Welcome to MessageBox</h1>
  <br />
  @if (MsgCount > 0)
  {
    <p>
      There are @MsgCount messages in @TopicCount topics<br />
      <br />
      @*  Render most recent post with link to topic  *@
      Most recent post: <b>@Post.Title</b> in <a href="~/ViewForum/Index/@Post.ParentTopic.Id">@Post.ParentTopic.TopicName</a>
    </p>

  } else {
    
    <p>
      There are @MsgCount messages in @TopicCount topics<br />
    </p>
  }
</div>
